body {
	background-color: #bbb;
}
body {
	background-color: #bbb;
}

header {
	margin: 10px ;
	background-color: white;
	border: 1px solid white;
	box-shadow: 0 0 10px white;
  text-align: center;
  margin-left: auto;
}

header img, .headings {
	display: inline-block;
	vertical-align: middle;
  margin: 10px;
  margin-left: auto;
}
main {max-width:820px;margin:0 auto;}
h2 {text-align: center;font-size:2rem;text-shadow:3px 3px 5px rgb(119, 119, 119);}

.herodiv {margin: 10px auto;position: relative;}

.stats {
	position: absolute;
  top: 2px;
  width: 200px;
	right: 600px;
	background: radial-gradient(rgb(163, 199, 35), #4567aa);
	border: 1px solid #000;
	padding: 1.5rem;
	box-shadow: 0 0 30px #fff;
}

nav {	margin: 0 auto;	max-width: 960px; background-color: #000;	}
.navigation { list-style: none; text-align: center; }
  .navigation li:first-child { display: block;}
  .navigation li { display: none;}
  .navigation a {	display: block;	color: #fff; padding: .75rem;	text-align: center;	text-decoration: none;}
  .navigation a:hover {	color: #000; background-color: #fff; font-weight: 700;	}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
	.responsive li { display: block; }

/* Media Query for medium + screens */
@media only screen and (min-width: 45em) {
  .navigation li:first-child { display: none;	}
	.navigation li { display: inline-block; margin-right: 1rem;}	
	.navigation li a { color: yellow;}
}
  
  .active {
    background-color: #4CAF50;
  }
 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }
  div {
    background-color: lightblue;
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
    .top{
      background-color: lightblue;
      padding-bottom: 30px;
    }
    .bottom{
      background-color: darkgreen;
    }
    .wrapper {
      text-align: middle;
       margin-left: auto;
        margin-right: auto;
      width: 50%;
      color:black;
    }
  .hero{
      width: 70%;
  }
  .logo{
    width: 5%;
}
  
  .active {
    background-color: #4CAF50;
  }
 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  figure.img {
    width: 100%;
    float: right;
    text-align: center;font-size: .75rem;
  }
  div {
    background-color: lightblue;
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
    .top{
      background-color: lightblue;
      padding-bottom: 30px;
    }
    .bottom{
      background-color: darkgreen;
    }
    .wrapper {
      text-align: middle;
       margin-left: auto;
        margin-right: auto;
      width: 50%;
      color:black;
    }
  .hero{
      width: 70%;
  }
  .logo{
    width: 5%;
}